*{margin: 0;}

.parent{
    display: flex;
    flex-direction: row;
    font-size: 50px;
    color: white;
    height: 100vh;
    text-align: center;
}

.div1{background-color: orange;
    width: 50%;
    height: 100%;
}
.div2{background-color: blue;
    width: 50%;
    height: 100%;
}
p{position: relative;
    top: 50%;
}