.big{background-color: black;
    border-radius: 7px;
    width: 70px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.big div {background-color: grey;
    width: 50px;
    height: 50px;
    border-radius: 100%;   
}
.div1{animation-name: red;
    animation-duration:2s;
    animation-iteration-count:infinite;}
.div2{animation-name: yellow;
    animation-duration:2s;
    animation-iteration-count:infinite;}
.div3{animation-name: green;
    animation-duration:2s;
    animation-iteration-count:infinite;}




@keyframes red {
0%   {background-color: grey;}
25%  {background-color: red;}
50%  {background-color: grey;}
100% {background-color: grey;}
}
@keyframes yellow {
0%   {background-color: grey;}
25%  {background-color: grey;}
50%  {background-color: yellow;}
100% {background-color: grey;}
}
@keyframes green {
0%   {background-color: grey;}
25%  {background-color: grey;}
50%  {background-color: grey;}
100% {background-color: green;}
}