.parent{
    background-color: beige;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows:auto auto auto auto;
    width: 100%;
    height: 130vh;
    gap: 5px;
}

img{
    width: 250px;
    height: 30vh;
}
.parent div{
    width:250 px;
    height:30vh;
}
.div4{background-color: red;
    grid-row-start:2 ;
    grid-row-end: 3;
    grid-column-start:3;
    grid-column-end:4;
}
.div5{grid-row-start:3 ;
    grid-row-end: 4;
    grid-column-start:2;
    grid-column-end:3;
}
.div6{background-color: blue;
    grid-row-start:3 ;
    grid-row-end: 4;
    grid-column-start:4;
    grid-column-end:5;
}
.div7{grid-row-start:4 ;
    grid-row-end: 5;
    grid-column-start:4;
    grid-column-end:5;
}



    