body{background-color: lightyellow;}

header{width: 80%;
     height:100px;
     background-color: rgb(230, 230, 92);
     margin: auto;
     }

main{width:80%;
    margin: auto;
     }

section{width: 70%;
     background-color: white;
     float: left;
     height:900px;
     padding: 20px;
     box-sizing: border-box;
     }

aside{width:30%;
    background-color: lightgrey;
    float: left;
    height:900px;
     }
    
footer{background-color: grey;
       clear: left;
       height: 40px;
     }
footer p {font-size: larger;
          text-align: center;
          color: white;
     }