body{background-color:rgb(248, 241, 231);}
.ipsum{background-color: rgb(252, 203, 143);
    font-weight: bold;}
.quis{background-color: rgb(243, 243, 148);
    font-weight: bold;}
div{width: 50%;
padding-left: 10px;
margin-bottom: 20px;}
#div1{border:1px solid black;
    border-radius: 3px;
    background-color: white;}
#div2{border:3px dashed grey;
    border-radius: 3px;
    background-color: white;}
#div2 p{border:3px dashed red;
    border-radius: 3px;
margin-right: 5px;}
#div3 {border:1px solid black;
    border-radius: 3px;
    background-color: white;
    color:purple;
}