h2{text-align: center;}

nav{width: 70%;
margin: 50px auto;}
#link4{float: right;}

img{max-width: 100%;}

main{width: 80%;
margin: auto;}

#sec1{width: 70%;
      float: left;
    margin: 20px;}

 #sec2{width: 20%;
      float: left;
      margin: 20px;}
  

footer{clear:left;
       text-align: center;
       font-size: larger;
       font-weight: bold;}