body{background-color: rgb(63, 62, 62);}
h1{color:red;}
div{width: 50%;
    margin: 10% 40%;}
button{display: block;
    width: 200px;
    height:50px;
    margin: 10px;
    color: white;
    font-weight: bold;
    background-color:rgb(63, 62, 62) ;
    border: 3px solid pink;
    transition: ease 0.3s;}


/*button1*/
#but1{position: relative;
    z-index: 1; 
  }
#but1:before{transition: 0.5s all ease;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 50%;
      left: 50%;
      opacity:0;
      content: "";
      background-color: pink;
  }
#but1:hover:before{transition:0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
      z-index: -1;
  }

/*button2*/
#but2{position: relative;
    z-index: 1; 
}
#but2:before{transition: 0.5s all ease;
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 0;
  left: 0;
  opacity:0;
  content: "";
  background-color: pink;
}
#but2:hover:before{transition:0.5s all ease;
  top: 0;
  bottom: 0;
  opacity: 1;
  z-index: -1;
}









    /*animation-name: NiceStyle;
    animation-duration: 2s;
    }

    @keyframes NiceStyle {
        0%{background-color: grey;
           }
        50%{background-color: pink;
            }
        100%{background-color: grey;
            }
    }