.parent{
    display: flex;
    flex-direction: row;
    border: 10px solid rgb(199, 129, 0);
    color: white;
    font-size: 200px;
    height:95vh;
    text-align: center;
    flex-wrap: wrap;
}

.parent div{ width: 25%;
    text-shadow: 2px 1px grey;
}

.div1{background-color: teal;}
.div2{background-color: rgb(15, 171, 233);}
.div3{background-color: rgb(230, 7, 230);}
.div4{background-color: darkslateblue;}
.div5{background-color: yellow;}
.div6{background-color: orange;}
.div7{background-color: tomato;}
.div8{background-color: grey;}
.div9{background-color: rgb(91, 241, 91);}
.div10{background-color: rgb(2, 87, 87);}